:root {
  --hero-and-footer: #1f2937;
  --hero-main-text: #f9faf8;
  --hero-link-and-secondary: #e5e7eb;
  --header-logo: #f9faf8;

  --btn-color: #3882f6;
  --heared-text: #1f2937;

  --quote-bg: #e5e7eb;
  --quote-text: #1f2937;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

/* PAGE */

.hero,
.info-container {
  background-color: var(--hero-and-footer);
  color: var(--hero-link-and-secondary);
  letter-spacing: 1px;
}

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.hero .logo {
  width: 70px;
  height: 60px;
}

ul {
  padding: 0px;
  list-style-type: none;
  display: flex;
}

a {
  text-decoration: none;
  color: var(--hero-link-and-secondary);
  font-size: 18px;
  margin: 10px;
}

/* MAIN */

.info-container {
  display: flex;
  padding: 10rem 20rem;
}

.main-info {
  margin-right: 20px;
}

.main-image {
  margin-left: 20px;
}

.cat-image {
  width: 600px;
  height: 300px;
  object-fit: cover;
}

.light-header {
  margin: 0px;
  color: var(--hero-main-text);
  font-size: 48px;
  font-weight: bold;
}

.main-paragraph {
  font-weight: 18px;
  line-height: 22px;
  text-align: justify;
}

.btn {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: var(--btn-color);
  color: #fff;
  font-size: 18px;
}

/* IMAGES-CONTAINER */

.images-container {
  display: flex;
  justify-content: center;
}

.image-container p {
  text-align: center;
  font-size: 18px;
}

.dark-header {
  color: var(--heared-text);
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.cat-meme-image {
  width: 250px;
  height: 220px;
  object-fit: cover;
  border: 4px solid var(--btn-color);
  border-radius: 10px;
  margin: 0 20px;
}
